<div class="jumbotron center">
	<h1>About Us</h1>
	<p><strong>Here at Pinteresting we wan't to give you, the consumer, the best possible expereince that we can. If you have any questions please email us at: joshk10801@gmail.com </strong></p>
</div>